.component-list {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
}

.component-list__name {
  margin-right: 10px;
  text-decoration: underline;
  cursor: pointer;
}

.app {
  height: 100%
}