.step {
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 13px;
}

.step-selected .step__number {
  background-color: #ccf;
}

.step-clickable {
  cursor: pointer;
}

.step__number {
  background-color: #eee;
  padding: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  flex: 0 0 20px;
}

.step__title {
  margin-left: 10px;
}