.follower_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 20px 60px;
}

.follower_item {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.follower_ava {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
}

.follower_ava img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.follower_title {
    padding-left: 20px;
    text-align: left;
}