.market {
  border-radius: 4px;
  background-color: #eee;
  padding: 10px 20px;
  margin: 10px;
  width: 30%;
  min-width: 300px;
}

.new-orders__create-form {
  display: flex;
  flex-direction: column;
}

.order-list {
  padding: 20px 0;
}

.market__buttons {
  display: flex;
  justify-content: space-between;
}

.market__buttons button {
  margin: 5px 15px;
}
