.market {
  border-radius: 4px;
  background-color: #eee;
  padding: 10px 20px;
  margin: 0 10px;
}

.new-orders__create-form {
  display: flex;
  flex-direction: column;
}

.order-list {
  padding: 20px 0;
}
