.dAZrsR {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.erDCdu {
  width: 300px;
}
.lfdfns {
  width: 100%;
}
.eYHJpm {
  color: red;
}
.jPDcUB {
  width: 400px;
  margin: 50px auto 20px;
  text-align: center;
}
