.login-wrap {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    width: 300px;
}

.login-input {
    width: 100%;
}