.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.modal__fog {
  background-color: rgba(0,0,0,.1);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__body {
  width: 400px;
  height: 200px;
  background-color: white;
  padding: 30px;
}
