.message {
  display: block;
  margin: 5px 0;
  background-color: #5b5bff;
  border-radius: 16px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 15px;
  align-self: baseline;
  word-wrap: break-word;
  max-width: 100%;
}
